{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'custom-product-description-and-inclusions.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div style="background-color: #FFCFAE;" class="gradient color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
    <div class="grid grid--2-col grid--1-col-tablet-down">
        <div class="grid__item">
            <div class="image-with-text__media image-with-text__media--{{ section.settings.height }} gradient color-{{ section.settings.color_scheme }} global-media-settings {% if section.settings.image != blank %}media{% else %}image-with-text__media--placeholder placeholder{% endif %}"
                {% if section.settings.height == 'adapt' and section.settings.image != blank %} style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
            >
                {%- if section.settings.image != blank -%}
                <img
                    srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                    src="{{ section.settings.image | image_url: width: 1500 }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ section.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ section.settings.image.width }}"
                    height="{{ section.settings.image.height }}"
                >
                {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
            </div>
        </div>
        <div class="grid__item">
            <div class="content__container">
                <div class="title {{ section.settings.heading_size }}">{{ product.metafields.cus.product_inclusions_title }}</div>
                <div class="description">{{ product.metafields.cust.product_inclusions_description }} </div>
                <div class="list-item"> 
                    {% assign list_item = product.metafields.cust.product_inclusions_list.value %}
                    <ul>
                        {% for item in list_item %}
                            <li> {% render 'icon-check' %} {{ item }}</li> 
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
   

{% schema %}
    {
        "name": "Product Des Inclusion",
        "class": "section",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.image-banner.settings.image.label"
            },
            {
                "type": "select",
                "id": "heading_size",
                "options": [
                  {
                    "value": "h2",
                    "label": "t:sections.all.heading_size.options__1.label"
                  },
                  {
                    "value": "h1",
                    "label": "t:sections.all.heading_size.options__2.label"
                  },
                  {
                    "value": "h0",
                    "label": "t:sections.all.heading_size.options__3.label"
                  }
                ],
                "default": "h1",
                "label": "t:sections.all.heading_size.label"
            },
            {
                "type": "select",
                "id": "height",
                "options": [
                  {
                    "value": "adapt",
                    "label": "t:sections.image-with-text.settings.height.options__1.label"
                  },
                  {
                    "value": "small",
                    "label": "t:sections.image-with-text.settings.height.options__2.label"
                  },
                  {
                    "value": "large",
                    "label": "t:sections.image-with-text.settings.height.options__3.label"
                  }
                ],
                "default": "adapt",
                "label": "t:sections.image-with-text.settings.height.label"
            },
            {
                "type": "select",
                "id": "color_scheme",
                "options": [
                  {
                    "value": "accent-1",
                    "label": "t:sections.all.colors.accent_1.label"
                  },
                  {
                    "value": "accent-2",
                    "label": "t:sections.all.colors.accent_2.label"
                  },
                  {
                    "value": "background-1",
                    "label": "t:sections.all.colors.background_1.label"
                  },
                  {
                    "value": "background-2",
                    "label": "t:sections.all.colors.background_2.label"
                  },
                  {
                    "value": "inverse",
                    "label": "t:sections.all.colors.inverse.label"
                  }
                ],
                "default": "background-1",
                "label": "t:sections.all.colors.label"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "t:sections.all.padding.padding_bottom",
                "default": 36
            }
        ],
        "presets": [
            {
                "name": "Product Description Inclusion"
            }
        ]
    }
{% endschema %}
